<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.board.service.impl.CategoryMapper">
    
    <!-- 전체조회  -->
    <select id="jsonCategoryList"  resultType="egovframework.example.board.service.impl.CustomMap">
        SELECT ID, NAME, DESCRIPTION, USE_YN, REG_USER
        FROM SAMPLE ORDER BY ID DESC
        
          <!--  특정페이지 첫번째 글의 행, 한페이지당 보여줄 게시글의 개수 -->
          LIMIT #{pageStart} OFFSET #{perPageNum}
        
    </select>
    
    <!-- 단건 조회 -->
    <select id="jsonCategoryDetail" parameterType="egovframework.example.board.service.impl.CustomMap" resultType="egovframework.example.board.service.impl.CustomMap">
        SELECT ID, NAME, DESCRIPTION, USE_YN, REG_USER
        FROM SAMPLE
            WHERE ID = #{id}
    </select>
    
    <!-- 등록 : 사용안함 -->
    <insert id="jsonCategoryInsert" parameterType="egovframework.example.board.service.impl.CustomMap">
        INSERT INTO SAMPLE (ID, NAME, DESCRIPTION, USE_YN, REG_USER)
        VALUES (NEXTVAL(id_seq), #{name}, #{description}, #{usern}, #{regUser})
    </insert>
    <!-- 등록2 -->
    <insert id="jsonCategoryInsert2" parameterType="egovframework.example.board.service.CategoryVO">
        INSERT INTO SAMPLE (ID, NAME, DESCRIPTION, USE_YN, REG_USER)
        VALUES (NEXTVAL(id_seq), #{name}, #{description}, #{useYn}, #{regUser})
    </insert>
    
    <!-- 수정 -->
    <update id="jsonCategoryUpdate" parameterType="egovframework.example.board.service.impl.CustomMap">
        UPDATE SAMPLE  
            SET NAME = #{name}, DESCRIPTION = #{description}, 
                USE_YN = #{useYn}
            WHERE ID = #{id}
    </update>
    
    <!-- 삭제 -->
    <delete id="jsonCategoryDelete" parameterType="egovframework.example.board.service.impl.CustomMap">
        DELETE FROM SAMPLE
            WHERE ID = #{id}
    </delete>
    
    <!-- 전체 조회 cnt -->
    <select id="CategoryListyCnt" resultType="int">
      SELECT COUNT(id) AS LIST_CNT 
      FROM SAMPLE
    </select>
    
    <!-- 검색 -->
    <select id="jsonCategorySearch" parameterType="egovframework.example.board.service.impl.CustomMap" resultType="CustomMap">
        SELECT ID, NAME, DESCRIPTION, USE_YN, REG_USER
        FROM SAMPLE 
        <where>
           <choose> 
               <when test="key=='1'.toString()"> NAME LIKE CONCAT('%',#{value},'%')</when>
               <when test="key=='2'.toString()"> DESCRIPTION LIKE CONCAT('%',#{value},'%')</when>
               <when test="key=='3'.toString()"> REGUSER LIKE CONCAT('%',#{value},'%')</when>
           </choose>
        </where> 
          ORDER BY ID DESC
          LIMIT #{pageStart} OFFSET #{perPageNum}
    </select>
    
    <!-- 검색 cnt -->
    <select id="CategorySearchCnt" parameterType="egovframework.example.board.service.impl.CustomMap" resultType="int">
        SELECT COUNT(ID)
        FROM SAMPLE 
        <where>
        <choose> 
               <when test="key=='1'.toString()"> NAME LIKE CONCAT('%',#{value},'%')</when>
               <when test="key=='2'.toString()"> AND DESCRIPTION LIKE CONCAT('%',#{value},'%')</when>
               <when test="key=='3'.toString()"> AND REGUSER LIKE CONCAT('%',#{value},'%')</when>
           </choose>
        
        </where>
          
    </select>
  
</mapper>