<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.board.service.impl.CategoryMapper">
    
    <!-- 전체조회 + 검색 -->
    <select id="jsonCategoryList"  resultType="egovmap">
        SELECT ID, NAME, DESCRIPTION, USER_YN, REG_USER
        FROM SAMPLE
        ORDER BY ID
    </select>
    
    <!-- 단건 조회 -->
    <select id="jsonCategoryDetail" parameterType="egovmap" resultType="egovmap">
        SELECT ID, NAME, DESCRIPTION, USER_YN, REG_USER
        FROM SAMPLE
            WHERE ID = #{id}
    </select>
    
    <!-- 등록 -->
    <insert id="jsonCategoryInsert" parameterType="egovmap">
        INSERT INTO SAMPLE (ID, NAME, DESCRIPTION, USE_YN, REG_USER)
        VALUES (#{id}, #{name}, #{description}, #{userYn}, #{regUser})
    </insert>
    
    <!-- 수정 -->
    <update id="jsonCategoryUpdate" parameterType="egovmap">
        UPDATE SAMPLE  
            SET NAME = #{name}, DESCRIPTION = #{description}, 
                USER_YN = #{userYn}
    </update>
    
    <!-- 삭제 -->
    <delete id="jsonCategoryDelete" parameterType="map">
        DELETE FROM SAMPLE
            WHERE ID = #{id}
    </delete>
    
  
</mapper>