<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="egovframework.example.sample.service.impl.MemberMapper">

    <resultMap id="member" type="egovframework.example.sample.service.MemberVO" >
        <result property ="id" column ="id"/>
        <result property ="nick" column ="nick"/>
        <result property ="pw" column ="pw"/>
        <result property ="auth" column ="auth"/>
    </resultMap>

    <select id="memberList" resultType="egovframework.example.sample.service.MemberVO">
        SELECT * FROM MEMBER
    </select>
    
    <select id="jsonMemberList" parameterType="map" resultType="map">
    SELECT * FROM MEMBER
    </select>
    
    <insert id="memberInsert" parameterType="egovframework.example.sample.service.MemberVO">
        INSERT INTO MEMBER (ID, NICK, PW, AUTH) 
                VALUES (#{id}, #{nick}, #{pw}, #{auth})
    </insert>
</mapper>